<div class="main-container">
  <div class="welcome-container">
    <h1 class="welcome"><strong>BIENVENIDO/A A NUESTRA COMUNIDAD PARA PERSONAS MAYORES</strong></h1>
  </div>
  <div id="content">
    <p>Somos una comunidad en línea dedicada a mejorar la calidad de vida de las personas mayores. Entendemos la importancia de invertir tiempo libre de manera significativa y enriquecedora.</p>
    <p>Nuestra misión es proporcionar a los adultos mayores una plataforma donde puedan explorar una variedad de actividades, como talleres, cursos y consejos de salud.</p>
    <p>Queremos que aproveches al máximo tu tiempo libre y te conectes con otros miembros de la comunidad para compartir experiencias, conocimientos y amistades.</p>
  </div>
</div>
