body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow-y: scroll;
}

.header {
  background-color: #020202;
  color: white;
  padding: 20px;
}

.content-container {
  padding: 20px;
}

.about-us {
  margin-bottom: 30px;
}

.video-container {
  margin-top: 50px;
}

.video-bg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 99vw;
  height: 100%;
}


#video::-webkit-media-controls-play-button {
  display: none;
}

#video::after {
  content: '\25BA';
  font-size: 3em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.masthead {
  color: #faf6f6;
  padding: 20px;
}

.image-laugh {
  margin-top: 170px;
  width: 650px;
  height: 460px;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
}

.group-people {
  width: 900px;
  align-items: center;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
}

.font-alt {
  color: brown;
}




