<body id="page-top">
  <header class="masthead">
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <div class="mb-5 mt-5 mb-lg-0 text-center text-lg-start">
            <h2 class="display-1 lh-1 mb-5">Tu espacio de gente mayor</h2>
            <div class="d-flex flex-column flex-lg-row align-items-center">

              <p class="lead fw-normal mb-5" style="color: black; font-size: 20px;"><strong>Bienvenido a nuestro espacio dedicado a aprovechar tu
                tiempo libre. En esta comunidad, reconocemos la importancia de cada momento, especialmente cuando has
                alcanzado la etapa de la vida en la que la experiencia y la sabiduría son tus mejores compañeras.
                Creemos fervientemente que tu tiempo es valioso y mereces disfrutarlo al máximo. Nuestra misión es
                proporcionarte las herramientas y recursos necesarios para que puedas explorar nuevas pasiones,
                conectarte con otros miembros de la comunidad y crear recuerdos significativos. Aquí, encontrarás un
                refugio donde cada actividad y conversación están diseñadas pensando en ti. Únete a nosotros en este
                viaje, donde celebramos la riqueza del tiempo libre y la vitalidad que cada momento puede ofrecer. Tu
                bienestar y felicidad son nuestra prioridad, y juntos, construiremos un espacio lleno de posibilidades
                para que disfrutes de esta etapa de la vida al máximo. ¡Bienvenido a tu comunidad, bienvenido a tu
                tiempo libre!</strong></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">

            <img src="../../../assets/images/sonriendo.jpg" type="image" class="image-laugh" />
          </div>
        </div>
      </div>
    </div>
  </header>
  <aside class="text-center bg-gradient-primary-to-secondary" style="margin-bottom: 40px; margin-top: 60px;">
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-xl-8">
          <div class="h2 fs-1 text-white mb-3">"Antes me sentía muy sola pero gracias a mayormente he conocido mucha
            gente y he conseguido nuevas amistades"</div>
          <div>
            <br>
            <img src="../../../assets/images/mujeres_mayores.jpg" class="group-people mt-3" style="width: 100%;" />
          </div>
        </div>
      </div>
    </div>
  </aside>


  <section id="features">
    <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">

        <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
          <div class="container-fluid px-5">
            <div class="row gx-5">
              <div class="col-md-6 mb-5">

                <div class="text-center">
                  <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                  <h3 class="font-alt">accesible y facil de navegar</h3>
                  <p class="text-muted mb-0">Nuestra web está pensada para ti, por lo que moverte por aquí no será
                    complicado</p>
                </div>
              </div>
              <div class="col-md-6 mb-5">

                <div class="text-center">
                  <i class="bi-camera icon-feature text-gradient d-block mb-3"></i>
                  <h3 class="font-alt">multiples opciones para ti</h3>
                  <p class="text-muted mb-0">te ofrecemos la posibilidad de encontrar cuidadores, o acompañantes de
                    paseo, no te pierdas tampoco nuestros consejos de salud para empezar el dia con buen pie!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-5 mb-md-0">

                <div class="text-center">
                  <i class="bi-gift icon-feature text-gradient d-block mb-3"></i>
                  <h3 class="font-alt">totalmente gratuito</h3>
                  <p class="text-muted mb-0">No queremos que te gastes un centimo en nuestra web!</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-center">
                  <i class="bi-patch-check icon-feature text-gradient d-block mb-3"></i>
                  <h3 class="font-alt">ofrecenos tu experiencia de vida</h3>
                  <p class="text-muted mb-0">Estaremos encantados de leerte y publicar tus experiencias y la de muchos
                    otros/as como tu!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 order-lg-0">

      <div class="features-device-mockup">


        <div class="device-wrapper">

          <div class="screen bg-black">

          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="bg-light mt-5">
    <div class="container px-6">
      <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-5">
          <h2 class="display-4 lh-1 mb-5 section-content" style="color: black;">Descubre todo lo que podemos ofrecerte</h2>
          <p class="lead fw-normal text-muted mb-5 mb-lg-0">Nuestra finalidad es que tú estés feliz y que rezumes 100%
            de buena energía y vibraciones, tu bienestar nuestra razón de ser</p>
        </div>
        <div class="image-container">
          <img src="../../../assets/images/mayores_selfie.jpg" class="image img-fluid" alt="Imagen">
        </div>

      </div>
    </div>
  </section>

  <br>


  <section class="cta">
    <video class="video" controls>
      <source src="../../../assets/videos/Senior center (2) - Made with PosterMyWall.mp4" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>

    <footer class="bg-black text-center py-5">
      <div class="container px-5">
        <div class="text-white-50 small">
          <div class="mb-2">&copy; Your Website 2023. All Rights Reserved.</div>
          <a href="#!">Privacy</a>
          <span class="mx-1">&middot;</span>
          <a href="#!">Terms</a>
          <span class="mx-1">&middot;</span>
          <a href="#!">FAQ</a>
        </div>
      </div>
    </footer>

    <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-gradient-primary-to-secondary p-4">
            <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">Send feedback</h5>

      </div>
    </div>
