body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.header {
  background-color: #020202;
  color: white;
  padding: 20px;
}

.content-container {
  padding: 20px;
}

.about-us {
  margin-bottom: 30px;
}


.masthead {
  color: #faf6f6;
  padding: 20px;
}

.image-laugh {
  margin-top: 170px;
  width: 690px;
  height: 490px;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
}

.group-people {
  display: inline;
  width: 900px;
  align-items: center;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);

}
.font-alt {
  color: brown;
}

.video-container {
  width: 100%;
  text-align: center;
}

.video {
  width: 100%;
  margin-top:-30px;

}

.cta-content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.cta-content h2 {
  font-size: 80px;
}

.image-container {
  width: 50%;
  text-align: right;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}

.image-container img {
  width: 90%;
  margin-left:90px;

}
.section-content {
  margin-bottom: 30px;
}

.bg-light {
  padding-top: 30px;
  padding-bottom: 30px;
}
