rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Reglas generales para toda la base de datos
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2023, 11, 3);
    }

    // Reglas específicas para la colección "postiks paseo"
    match /postiks paseo/{document=**} {
      allow read, write: if true; // Permite leer y escribir (incluida la eliminación)
    }
  }
}
