<br>
<div class="container align-items-center">
  <h2 class="signup">REGISTRO DE NUEVO USUARIO</h2>
  <br>
  <br>
  <form class="form" (ngSubmit)="register()" #registerForm="ngForm">
    <div class="form-group">
      <label for="username" class="mx-2">Nombre de Usuario:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <br>
    <div class="form-group">
      <label for="password" class="mx-2">Contraseña:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <br>
    <br>
    <button class="btn btn-primary btn-lg" type="submit">Confirmar</button>
  </form>


  <div class="text-center alert alert-danger mt-3" *ngIf="authService.errorMessage">
    {{ authService.errorMessage }}
  </div>
</div>
