.signup{

  color:brown;

}

.btn-primary {
  font-size: 25px;
  padding: 20px 40px;
  font-family: 'Montserrat', sans-serif;
}
.shorter-input {
  width: 400px;
}
.form-label{
font-size:28px;
color:black;

}
