<div class="navbar">
  <div class="menu-item">
    <a
      routerLink="/welcome"
      routerLinkActive="active"
      class="h2"
    >QUIENES SOMOS
    </a>
  </div>
  <span class="separator">|</span>
  <div class="menu-item">
    <a
    >TALLERES Y CURSOS
  </a>
  </div>
  <span class="separator">|</span>
  <div class="menu-item">
    <a
    routerLink="/salud"
      routerLinkActive="active"
    >SALUD
  </a>

  </div>
  <span class="separator">|</span>
  <div class="menu-item">
    <a
    >PASEA CONMIGO
  </a>
  </div>
  <span class="separator">|</span>
  <div class="menu-item">
    <a
    >ACOMPAÑAME
  </a>
  </div>
</div>



