.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
}

.menu-item {
  margin-right: 20px;
}

.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: color 0.3s;
}

.menu-item a:hover {
  color: #ddd;
}

.menu-item a.active {
  color: gray;
}

