
.navbar {
  background-color: #0a0da7e4;
  overflow: hidden;
  margin-top: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);

}

.navbar a {
  color: rgb(251, 250, 250);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 5px;
  padding: 10px 16px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 10px;
}



.navbar a.active {
  background-color: #ddd;
  color: gray;
  border-radius: 10px;
}

.menu-item {
  position: relative;
  display: inline-block;
  margin: auto;
}


@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .navbar a {
    font-size: 16px;
    padding: 8px 12px;
    letter-spacing: 3px;
  }
}

@media (max-width: 425px) {
  .navbar {
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    margin: 0;
  }

  .navbar a {
    font-size: 16px;
    padding: 8px 12px;
    letter-spacing: 3px;
  }
}

@media (max-width: 375px) {
  .navbar {
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    margin: 0;
  }

  .navbar a {
    font-size: 13px;
    padding: 8px 12px;
    letter-spacing: 3px;
  }
}

@media (max-width: 320px) {
  .navbar {
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    margin: 0;
  }

  .navbar a {
    font-size: 11px;
    padding: 8px 12px;
    letter-spacing: 3px;
  }
}
