<div class="container mt-5">
  <h2 class="custom-heading">Editar Perfil</h2>
  <form>
    <div class="mb-3 mt-5">
      <label for="nombre" class="form-label custom-label">Nombre</label>
      <input type="text" class="form-control-sm" id="nombre" [(ngModel)]="nombre" name="nombre" style="margin-left:40px;"placeholder="Ingresa tu nombre">
    </div>
    <div class="mb-3">
      <label for="apellidos" class="form-label custom-label">Apellidos</label>
      <input type="text" class="rounded form-control-sm" id="apellidos" [(ngModel)]="apellidos" name="apellidos"style="margin-left:30px;" placeholder="Ingresa tus apellidos">
    </div>
    <div class="mb-3">
      <label for="edad" class="form-label custom-label">Edad</label>
      <input type="number" class="form-control-sm" id="edad" [(ngModel)]="edad" name="edad" style="margin-left:80px;"placeholder="Ingresa tu edad">
    </div>
    <div class="mb-3">
      <label for="poblacion" class="form-label custom-label">Población</label>
      <input type="text" class="form-control-sm" id="poblacion" [(ngModel)]="poblacion" name="poblacion"style="margin-left:20px;" placeholder="Ingresa tu población">
    </div>
    <div class="mb-3">
      <label for="aficiones" class="form-label custom-label">Aficiones</label>
      <input type="text" class="form-control-sm" id="aficiones" [(ngModel)]="aficiones" name="aficiones"style="margin-left:30px;" placeholder="Ingresa tus aficiones">
    </div>

    <button type="button" (click)="guardarDatosPerfil()" class="btn btn-primary">Guardar</button>
  </form>
</div>
