.container-con-video {
  width: 100%;
  height: 38vw;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
}

.video-container {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agregar sombreado al video */
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  margin-top: 60px;
  width: 50%;
  padding: 20px;
  text-align: left;
  color: rgb(249, 247, 247);
  font-size: 36px;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.consejos-container {
  width: 50%;
  padding: 20px;
  text-align: center;
  color:brown;
  font-size: 30px;
  position: absolute;
  top: 90px;
  right: 0;
  bottom: 0;
}

.consejo {
  font-size: 30px;
  margin-bottom: 30px; /* Aumentar el espacio entre los consejos */
}

.btn-primary {
  z-index: 9999;
  font-size: 18px;
  padding: 10px 20px;
  position: absolute;
  top: 10px;
  right: 400px;
}
