
.container-con-video {
  width: 100%;
  height: 39vw;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
}

.video-container {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border: 4px solid rgb(2, 2, 2);
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  margin-top: 60px;
  width: 50%;
  padding: 20px;
  text-align: left;
  color: rgb(249, 247, 247);
  font-size: 36px;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}



.btn-primary {
  z-index: 9999;
  font-size: 18px;
  padding: 10px 20px;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 10px;
  right: 300px;
  margin-top: 30px;
  border-radius: 15px;
  background-color:#0a0da7e4;
  color:rgb(252, 251, 251);
}


@media (max-width: 1024px) {
  .container-con-video {
    height: auto;
  }

  .video-container {
    width: 100%;
    height: 60vh;
    margin-right: 0;
  }

  .overlay {
    margin-top: 20px;
    font-size: 26px;
  }

  .consejos-container {
    width: 100%;
    top: 50px;
  }

  .btn-primary {
    right: 20px;
    top: 20px;
  }
}


@media (max-width: 576px) {
  .container-con-video {
    height: auto;
  }

  .video-container {
    width: 100%;
    height: 50vh;
  }

  .overlay {
    font-size: 20px;
  }

  .consejos-container {
    width: 100%;
    top: 70px;

  }

  .btn-primary {
    right: 20px;
    top: 20px;
    font-size: 18px;
  }
}
