<div>
  <h2>Editar Paseo</h2>
  <form (ngSubmit)="guardarCambios()">
    <label for="editPoblacion">Población:</label>
    <input id="editPoblacion" name="poblacion" [(ngModel)]="paseo.poblacion" required>

    <label for="editHora">Hora de quedada:</label>
    <input id="editHora" name="hora" [(ngModel)]="paseo.hora" required>

    <label for="editNombre">Nombre:</label>
    <input id="editNombre" name="Nombre" [(ngModel)]="paseo.Nombre" required>

    <label for="editComentarios">Comentarios:</label>
    <textarea id="editComentarios" name="comentarios" [(ngModel)]="paseo.comentarios"></textarea>

    <label for="editFecha">Fecha:</label>
    <input id="editFecha" name="fecha" [(ngModel)]="paseo.fecha" required>

    <button type="submit">Guardar Cambios</button>
    <button type="button" (click)="cancelarEdicion()">Cancelar</button>
  </form>
</div>
