.logo {
  margin-bottom: -55px;
  width: 220px;
  height: 120px;
}

/* Estilos generales para el contenedor */
.container-fluid {
  padding: 0;
  margin: 0;
}

.login-signup-container {
  margin-left: auto;
}

/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.flex-spacer {
  flex-grow: 1;
}


.login-button,
.signup-button {
  text-decoration: none;
  padding: 8px 12px;
  margin-left: 10px;
  font-size: 18px;
  background-color: #0176f2;
  border: none;
  color: white;
}
.login-button:hover,
.signup-button:hover {
  background-color: #4c7eb4; /* Cambiar el color de fondo al hacer hover */
  color: white; /* Cambiar el color del texto a blanco al hacer hover */
}

.logged-in-username {
  color: black;
  font-size: 18px;
}

.btn-primary {
  font-size: 18px;
  padding: 8px 16px;
  background-color: #6955f0;
  border: none;
  color: white;
}

.user-name {
  font-size: 26px;
  color: brown;
}

.custom-link {
  display: inline-block;
  background-color: #62acfb;
  color: white;
  padding: 5.5px;
  border: 1px solid darkgray;
  border-radius: 7px;
  font-family: 'Montserrat', sans-serif;
  width: auto;
  height: auto;
  font-size: 18px;
}


@media (max-width: 768px) {
  .logo {
    width: 150px;
    height: 90px;
  }

  .container-fluid {
    padding: 0 10px;
  }

  .login-button,
  .signup-button {
    font-size: 16px;
    padding: 8px 12px;
  }

  .logged-in-username {
    font-size: 16px;
  }

  .btn-primary {
    font-size: 18px;
    padding: 8px 16px;
    margin-right: 8px;
  }

  .user-name {
    font-size: 22px;
  }

  .custom-link {
    font-size: 22px;
  }
}
