<div class="container-fluid">
  <div class="mx-1">
    <img src="../assets/images/logo_mayormente (2).png" class="logo">
  </div>
  <div class="text-end mt-1 pt-1 ps-3 my-1">
    <ng-container *ngIf="userService.isLoggedIn; else loggedOutButtons">
      <div class="d-flex align-items-center justify-content-end">
        <a *ngIf="userService.getLoggedInUserName()" [routerLink]="['/perfil', userService.getLoggedInUserName()]" class="user-name custom-link px-3 mx-2"> {{ userService.getLoggedInUserName() }}</a>
        <button (click)="logout()" class="btn btn-primary ml-2">Cerrar Sesión</button>
      </div>
    </ng-container>

    <ng-template #loggedOutButtons>
      <div class="button-container">
        <a routerLink="/login" class="btn btn-primary login-button">Iniciar Sesión</a>
        <a routerLink="/register" class="btn btn-primary signup-button">Registrarse</a>
      </div>
    </ng-template>
  </div>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>
