<div class>
<div class="mx-1">
  <img src="../assets/images/logo_mayormente.png" class="logo">
</div>
<br>
<div class="text-end mt-1 pt-1 ps-3 my-1">
  <ng-container *ngIf="isLoggedIn; else loggedOutButtons">
    <span class="logged-in-username">{{ loggedInUserName }}&nbsp;&nbsp;</span>
    <a (click)="logout()" class="btn btn-primary">CIERRA SESION</a>
  </ng-container>
  <ng-template #loggedOutButtons>
    <a routerLink="/login" class="btn btn-primary me-2 my-0">INICIA SESION</a>
    <a routerLink="/register" class="btn btn-primary">REGISTRATE</a>
  </ng-template>
</div>

<div class="main_container mt-1 py-1">
  <app-navbar *ngIf="!isWelcomePage"></app-navbar>
  <br>
  <router-outlet></router-outlet>
</div>
</div>
