.logo {
  margin-bottom: -60px;
  width: 250px;
  height: 150px;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.login-signup-container {
  margin-left: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}

.flex-spacer {
  flex-grow: 1;
}

.login-button,
.signup-button {
  text-decoration: none;
  padding: 10px 15px;
  margin-left: 10px;
}

.logged-in-username {
  color: black;
  font-size: 18px;
}

.btn-primary {
  font-size: 20px;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 10px;
}

.user-name {
  font-size: 26px;
  color:brown;
}

.custom-link {
  display: inline-block; /* Hace que el elemento sea un bloque en línea */
  background-color: gray; /* Establece el fondo gris */
  color: rgb(255, 255, 255); /* Establece el color de las letras*/
  padding: 5.5px; /* Agrega un espacio alrededor del texto para crear el efecto de un recuadro */
  border: 1px solid darkgray; /* Agrega un borde alrededor del elemento */
  border-radius: 7px; /* Agrega esquinas redondeadas al recuadro */
  font-family: 'Montserrat', sans-serif;
  width: auto;
  height: auto;
  font-size: 26px;
}
