<div class="container-fluid">
  <div class="mx-1">
    <img src="../assets/images/logo_mayormente.png" class="logo">
  </div>
  <div class="text-end mt-1 pt-1 ps-3 my-1">
    <ng-container *ngIf="userService.isLoggedIn; else loggedOutButtons">
      <a *ngIf="userService.loggedInUserName" [routerLink]="['/perfil', userService.loggedInUserName]">{{ userService.loggedInUserName }}</a>
     &nbsp;&nbsp;
      <button (click)="logout()" class="btn btn-primary">Cerrar Sesión</button>
    </ng-container>
    <ng-template #loggedOutButtons>
      <div class="button-container">
        <a routerLink="/login" class="btn btn-primary login-button">Iniciar Sesión</a>
        <a routerLink="/register" class="btn btn-primary signup-button">Registrarse</a>
      </div>
    </ng-template>
  </div>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>
