body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/* Logo */
.logo {
  margin-bottom: -55px;
  width: 360px;
  height: 110px;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.flex-spacer {
  flex-grow: 1;
}

/* Botones de inicio de sesión y registro */
.login-button,
.signup-button {
  text-decoration: none;
  padding: 8px 12px;
  margin-left: 10px;
  font-size: 18px;
  background-color: #6b7784;
  border: none;
  color: white;
  border-radius: 15px;
}

.login-button:hover,
.signup-button:hover {
  background-color: #4c7eb4;
  color: white;
}

/* Botón de cerrar sesión */
.btn-primary,
.btn-primary:hover {
  font-size: 18px;
  padding: 8px 16px;
  background-color: #0a0da7e4;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 15px;
}

.btn-primary:hover {
  background-color: #4c7eb4;
}

/* Nombre de usuario logueado */
.user-name {
  font-size: 26px;
  color: brown;
}

/* Enlace personalizado */
.custom-link {
  display: inline-block;
  background-color: #c2ba19;
  color: white;
  padding: 5.5px;
  border: 1px solid darkgray;
  border-radius: 7px;
  font-family: 'Montserrat', sans-serif;
  width: auto;
  height: auto;
  font-size: 18px;
}

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
  /* Logo */
  .logo {
    width: 150px;
    height: 90px;
  }

  /* Contenedor principal */
  .container-fluid {
    padding: 0 10px;
  }

  /* Tamaño de fuente ajustado para botones y enlaces */
  .login-button,
  .signup-button {
    font-size: 16px;
    padding: 8px 12px;
  }

  .btn-primary,
  .btn-primary:hover {
    font-size: 18px;
    padding: 8px 16px;
    margin-right: 8px;
  }

  /* Ajuste de tamaño de fuente para otros elementos */
  .user-name {
    font-size: 22px;
  }

  .custom-link {
    font-size: 22px;
  }
}
