<div class="container">
 

  <div class="d-flex justify-content-center my-3">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Datos del perfil:</h3>
        <p class="card-text">Nombre: {{ profileData?.nombre }}</p>
        <p class="card-text">Apellidos: {{ profileData?.apellidos }}</p>
        <p class="card-text">Edad: {{ profileData?.edad }}</p>
        <p class="card-text">Aficiones: {{ profileData?.aficiones }}</p>
        <p class="card-text">Población: {{ profileData?.poblacion }}</p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <button (click)="editarPerfil()" class="btn btn-primary">Editar perfil</button>
  </div>
</div>
