<div class="container mt-5">
  <h2>Perfil de {{ username }}</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="URL_DE_LA_IMAGEN_DEL_USUARIO" class="card-img-top" alt="Imagen de perfil">
        <div class="card-body">
          <h5 class="card-title">{{ username }}</h5>
          <p class="card-text">Información del usuario: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h2>Detalles del perfil de {{ username }}</h2>
      <p>Aquí puedes mostrar detalles adicionales sobre el perfil del usuario.</p>
    </div>
  </div>
</div>

