.btn-primary {
  font-family: 'Montserrat', sans-serif;
  font-size: 16p;
  background-color: #0a0da7e4;
  border-radius: 15px;

}

.btn-primary:hover {

  background-color: rgb(96, 96, 223);

}

.card {

  background: linear-gradient(to right, #656363, #babfba, #727475);

}

.list-group-item {

  background: linear-gradient(to right, #686565, #babfba, #727475);
  font-size: 24px;
  border: none;
  white-space: pre-wrap;



}

@media (max-width: 425px) {

  .card-body{
    font-size: 10px;
    width:110%;
  }

  .list-group-item{

    font-size:20px;
    width:90%;


  }
}
