<div class="container mt-4">
  <div class="d-flex justify-content-center mb-4">
    <div class="card" style="box-shadow: 0 0 10px rgb(0, 0, 0); border: none; border-radius: 10px;margin-top: 50px;">
      <div class="card-body">
        <h3 class="card-title" style="font-size: 26px; color: #f9f9f9;">Datos del Perfil:</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Nombre:</strong> {{ profileData?.nombre }}</li>
          <li class="list-group-item"><strong>Apellidos:</strong> {{ profileData?.apellidos }}</li>
          <li class="list-group-item"><strong>Edad:</strong> {{ profileData?.edad }}</li>

          <li class="list-group-item">
            <strong>Aficiones:</strong> {{ profileData?.aficiones}}
          </li>


          <li class="list-group-item"><strong>Población:</strong> {{ profileData?.poblacion }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <button (click)="editarPerfil()" class="btn btn-primary" style="font-size: 16px;">Editar Perfil</button>
  </div>
</div>
