.btn-primary {
  font-family: 'Montserrat', sans-serif;
  font-size: 16p;
  background-color: #0a0da7e4;
  border-radius: 15px;

}

.btn-primary:hover {

  background-color: rgb(96, 96, 223);

}

.card {

  background: linear-gradient(to right, #525050, #babfba, #727475);

}

.list-group-item {

  background: linear-gradient(to right, #525050, #babfba, #727475);


}
