<br>
<div class="container">
  <ng-container *ngIf="!authService.isLoggedInUser(); else loggedInContent">
    <h2 class="login">INICIAR SESION</h2>
    <br>
    <br>
    <form class="form" (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <label for="username" class="mx-2">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <br>
      <div class="form-group">
        <label for="password" class="mx-2">Contraseña:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <br>
      <br>
      <button class="btn btn-primary btn-lg" type="submit">Iniciar Sesión</button>

      <div class="mt-3">
        <a routerLink="/register">No tienes una cuenta todavía?</a>
      </div>
    </form>

    <div class="text-center alert alert-danger mt-3" *ngIf="showError">
      la información no es correcta, intentalo de nuevo
    </div>
  </ng-container>

  <ng-template #loggedInContent>
    <div class="mt-3 d-flex justify-content-center">
     <h2 class="display-4"> Bienvenido, {{ authService.getLoggedInUserName() }}!</h2>
    </div>
  </ng-template>
</div>
