<div class="container pt-5">
  <ng-container *ngIf="!authService.isLoggedInUser(); else loggedInContent">
    <h2 class="login">INICIAR SESIÓN</h2>
    <form class="form" (ngSubmit)="login()" #loginForm="ngForm">
      <br>
      <div class="form-group">
        <label for="username" class="form-label">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required class="form-control shorter-input">
      </div>
      <br>

      <div class="form-group">
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required class="form-control shorter-input">
      </div>

      <button class="btn btn-primary btn-lg mt-3" type="submit">Iniciar Sesión</button>

      <div class="mt-3">
        <a routerLink="/register" class="link">¿No tienes una cuenta todavía?</a>
      </div>
    </form>

    <div class="text-center alert alert-danger mt-3" *ngIf="showError">
      La información ingresada no es correcta. Inténtalo de nuevo.
    </div>
  </ng-container>

  <ng-template #loggedInContent>
    <div class="mt-3 d-flex justify-content-center">
      <h2 class="display-4">¡Bienvenido, {{ authService.getLoggedInUserName() }}!</h2>
    </div>
  </ng-template>
</div>
