.custom-heading {
  color: brown;
  font-family: Arial, sans-serif;
  font-size: 32px;
}

.custom-label {
  color: #050505;
  font-size: 20px;
}

.custom-input-container {
  align-items: center;
  margin-bottom: 15px;

}

.custom-input {
  flex: 1;
  font-size: 18px;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.custom-textarea {
  min-height: 150px;
}

.btn-primary {
  font-size: 18px;
  padding: 8px 16px;
  background-color: #0a0da7e4;
  border: none;
  color: white;
  border-radius: 15px;

}
.btn-primary:hover {
  background-color: #2a72c0;
  color: rgb(245, 245, 245);
}
