.form-label{

  color:black;
}

.text-center{

  color:brown;
}

.btn
{

   font-family: 'Montserrat', sans-serif;
   border-radius: 15px;
}
.card-rounded{
background:linear-gradient(to bottom, #77bde0, #71e1f5,#80cbeb,#90e8fa);
border-radius: 20px;
box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.2);

}
