.form-label{

  color:black;
}

.text-center{

  color:brown;
}

.btn-primary {
  font-size: 18px;
  padding: 8px 16px;
  background-color: #0a0da7e4;
  border: none;
  color: white;
  border-radius: 15px;

}
.btn-primary:hover {
  background-color: #2a72c0;
  color: rgb(245, 245, 245);
}
.card-rounded{
background:linear-gradient(to right, #828c92, #c6cbcc,#a1a4a5);
border-radius: 20px;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}
