.description {
  font-size: 16px;
  color: #0d0d0d;
  font-family: 'Montserrat', sans-serif;
}

.card {
  background: linear-gradient(to bottom, rgb(149, 225, 239), #76cdf2);
  border: 1px solid rgb(194, 239, 250);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(11, 11, 11, 0.2);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  color: #030303;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.age, .timetable, .poblacion {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border-radius: 15px;

}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  font-family: 'Montserrat', sans-serif;
}

.select {
  width: 100%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
