<div>
  <select [(ngModel)]="poblacion" (change)="buscarPorPoblacion()">
    <option value="">Todas las poblaciones</option>
    <option *ngFor="let poblacion of poblacionesDisponibles" [value]="poblacion">{{ poblacion }}</option>
  </select>
  <button (click)="buscarPorPoblacion()">Buscar</button>
</div>
<br>

<div *ngFor="let cuidador of resultados">
  <h2>{{ cuidador.nombre }} {{ cuidador.apellido }}</h2>
  <p>{{ cuidador.descripcion }}</p>
  <p>Edad: {{ cuidador.edad }}</p>
  <p>Horario: {{ cuidador.horario }}</p>
  <p>Población: {{ cuidador.poblacion }}</p>
</div>
