<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <h1 class="text-center">Buscar Cuidadores</h1>
      <div class="input-group mb-3 mt-5">
        <select class="form-select" [(ngModel)]="poblacion">
          <option value="">Todas las poblaciones</option>
          <option *ngFor="let poblacion of poblacionesDisponibles" [value]="poblacion">{{ poblacion }}</option>
        </select>
        <button class="btn btn-primary mx-3" (click)="buscarPorPoblacion()">Buscar</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div *ngFor="let cuidador of resultados" class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="nombre card-title">
            <a [routerLink]="['/formulario']" class="nombre-enlace">{{ cuidador.nombre }} {{ cuidador.apellido }}</a>
          </h2>
          <div class="description card-text">{{ cuidador.descripcion }}</div>
          <hr>
          <p class="card-text age"><strong>Edad:</strong> {{ cuidador.edad }}</p>
          <p class="card-text timetable"><strong>Horario:</strong> {{ cuidador.horario }}</p>
          <p class="card-text poblacion"><strong>Población:</strong> {{ cuidador.poblacion }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
