<div class="container mt-5">
  <h1 style="color: #333; font-family: Arial, sans-serif;">Buscar paseo</h1>

  <label for="poblacion" class="mt-5" style="color: #040404; font-size: 26px;">Selecciona una población:&nbsp;&nbsp;</label>
  <select id="poblacion" [(ngModel)]="selectedPoblacion" style="font-size: 20px;">
    <option value="" style="font-family: Arial, sans-serif; font-size: 26px;">Todas</option>
    <option *ngFor="let poblacion of poblacionesDisponibles" [value]="poblacion" style="font-family: Arial, sans-serif; font-size: 20px;">{{ poblacion }}</option>
  </select>

  <label for="fecha" class="mt-3" style="color: #070707; font-size: 26px; margin-top: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;Selecciona una fecha:&nbsp;&nbsp;</label>
  <input type="date" id="fecha" [(ngModel)]="selectedFecha" style=" font-size:20px; font-family: Arial, sans-serif; background-color: #f2f2f2; color: #333; margin-top: 5px;margin-right:30px;">

  <button (click)="buscarPorPoblacionYFecha()" class="btn btn-primary" style="font-size: 20px; background-color: #007bff; color: #fff; font-family: 'Montserrat', sans-serif; margin-top: 10px;">Buscar</button>

  <div class="postik-container">
    <ng-container *ngFor="let resultado of resultados; let i = index">
      <div class="postik" style="font-size:20px; background-color: #f7f7f7; border: 1px solid #ddd; padding: 10px; margin: 10px; border-radius: 5px;">
        <h3 style="color: #010101;"><strong>Población:</strong> {{ resultado.poblacion }}</h3>
        <p style="color: #000000;"><strong>Hora de quedada:</strong> {{ resultado.hora }}</p>
        <p style="color: #010101;"><strong>Nombre:</strong> {{ resultado.Nombre }}</p>
        <p style="color: #030303;"><strong>Fecha:</strong> {{ resultado.fecha }}</p>
        <p class="comentarios" style="color: #060606; font-style: italic;"><strong>Comentarios:</strong> {{ resultado.comentarios }}</p>
        <button (click)="editarPaseo(resultado['Document ID'])" style="font-size: 20px; background-color: #4caf50; color: #fff; font-family: 'Montserrat', sans-serif;" class="btn btn-primary">Editar</button>
        <button (click)="eliminarPaseo(resultado['Document ID'])" style="font-size: 20px; background-color: #d9534f; color: #fff; font-family: 'Montserrat', sans-serif; margin-left: 10px;" class="btn btn-primary">Eliminar</button>
      </div>
    </ng-container>
  </div>
  <button (click)="navigateToAddSightseeing()" class="btn btn-primary" style="font-size: 20px; background-color: #007bff; color: #fff; font-family:'Montserrat', sans-serif; margin-top: 20px;">Añadir Paseo</button>
</div>
