<div class="container mt-5">
  <h1 class="text-center" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 40px; margin-bottom: 70px;">
    Buscar paseo</h1>

  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="poblacion" class="form-label"
        style="color: #040404; font-weight: bold; font-size: 20px; margin-bottom: 10px;">Selecciona una población:</label>
      <select id="poblacion" [(ngModel)]="selectedPoblacion" class="form-select" style="font-size: 16px;">
        <option value="" class="font-family-styles">Todas</option>
        <option *ngFor="let poblacion of poblacionesDisponibles" [value]="poblacion" class="font-family-styles">{{
          poblacion }}</option>
      </select>
    </div>

    <div class="col-md-4 mb-3">
      <label for="fecha" class="form-label"
        style="color: #070707; font-weight: bold; font-size: 20px; margin-top: 10px; margin-bottom: 10px;">Selecciona una
        fecha:</label>
      <input type="date" id="fecha" [(ngModel)]="selectedFecha" class="form-control" style="font-size: 16px;">
    </div>

    <div class="col-md-4">
      <button (click)="buscarPorPoblacionYFecha()" class="btn btn-primary btn-block"
        style="font-size: 16px; color: #fff; font-family: 'Montserrat', sans-serif; margin-top: 10px;">Buscar</button>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <ng-container *ngFor="let resultado of resultados; let i = index">
        <div class="postik mb-3 p-3">
          <h3 style="color: #010101;"><strong>Población:</strong> {{ resultado.poblacion }}</h3>
          <p style="color: #000000;"><strong>Hora de quedada:</strong> {{ resultado.hora }}</p>
          <p style="color: #010101;"><strong>Nombre:</strong> {{ resultado.Nombre }}</p>
          <p style="color: #030303;"><strong>Fecha:</strong> {{ resultado.fecha }}</p>
          <p style="color: #030303;"><strong>Personas añadidas:</strong> {{ resultado.apuntados }}</p>
          <button (click)="agregarPersona(i)" class="btn btn-primary">+</button>&nbsp;
          <button (click)="restarPersona(i)" class="btn btn-primary">-</button>
          <p class="comentarios" style="color: #060606; font-style: italic;"><strong>Comentarios:</strong>
            {{ resultado.comentarios }}</p>

          <button (click)="editarPaseo(resultado['Document ID'])" class="btn btn-primary btn-sm">Editar</button>
          <button (click)="eliminarPaseo(resultado['Document ID'])" class="btn btn-danger btn-sm ml-2">Eliminar</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<button (click)="navigateToAddSightseeing()" class="btn btn-primary btn-block"
  style="font-size: 16px; color: #fff; font-family:'Montserrat', sans-serif; margin-top: 10px;">Añadir Paseo</button>
