<div class="container mt-5">
  <h1 style="color: #333; font-family: Arial, sans-serif;">Buscar paseo</h1>

  <label for="poblacion" class="mt-5" style="color: #666;">Selecciona una población:</label>
  <select id="poblacion" [(ngModel)]="selectedPoblacion">
    <option value="" style="font-family: Arial, sans-serif;">Todas</option>
    <option *ngFor="let poblacion of poblacionesDisponibles" [value]="poblacion" style="font-family: Arial, sans-serif;">{{ poblacion }}</option>
  </select>

  <label for="fecha" class="mt-3" style="color: #666;">Selecciona una fecha:</label>
  <input type="date" id="fecha" [(ngModel)]="selectedFecha" style="font-family: Arial, sans-serif; background-color: #f2f2f2; color: #333;">

  <button (click)="buscarPorPoblacionYFecha()" style="background-color: #007bff; color: #fff; font-family: Arial, sans-serif;">Buscar</button>

  <div class="postik-container">
    <ng-container *ngFor="let resultado of resultados; let i = index">
      <div class="postik" style="background-color: #f7f7f7; border: 1px solid #ddd; padding: 10px; margin: 10px; border-radius: 5px;">
        <h3 style="color: #333;">Población: {{ resultado.poblacion }}</h3>
        <p style="color: #666;">Hora de quedada: {{ resultado.hora }}</p>
        <p style="color: #666;">Nombre: {{ resultado.Nombre }}</p>
        <p style="color: #666;">Fecha: {{ resultado.fecha }}</p>
        <p class="comentarios" style="color: #888; font-style: italic;">Comentarios: {{ resultado.comentarios }}</p>
        <button (click)="editarPaseo(resultado['Document ID'])" style="background-color: #4caf50; color: #fff; font-family: Arial, sans-serif;">Editar</button>
        <button (click)="eliminarPaseo(resultado['Document ID'])" style="background-color: #d9534f; color: #fff; font-family: Arial, sans-serif;">Eliminar</button>
      </div>
    </ng-container>
  </div>

  <button (click)="navigateToAddSightseeing()" style="background-color: #007bff; color: #fff; font-family: Arial, sans-serif;">Añadir Paseo</button>
</div>
