.postik-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.postik {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 100px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #333;
  width: calc(33.33% - 20px);
  min-width: 300px;
}
.postik:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.postik h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.postik p {
  font-size: 20px;
  margin: 5px 0;
  padding: 0;
}

.postik .comentarios {
  font-size: 20px;
  white-space: normal;
  overflow: visible;
  width: 100%;
}
.btn-primary {
  font-size: 18px;
  padding: 8px 16px;
  background-color: #0a0da7e4;
  border: none;
  color: white;
  border-radius: 15px;

}
.btn-primary:hover {
  background-color: #2a72c0;
  color: rgb(245, 245, 245);
}

.btn-edit{
  font-size: 18px;
  padding: 8px 16px;
  background-color: rgb(32, 154, 21);
  border: none;
  color: white;
  border-radius: 15px;

}

.btn-edit:hover {
  background-color: #4caf50;
  color: rgb(245, 245, 245);
}
.btn-delete{
  font-size: 18px;
  padding: 8px 16px;
  background-color:  #e6423d;
  border: none;
  color: white;
  border-radius: 15px;

}

.btn-delete:hover {
  background-color: #af654c;
  color: rgb(245, 245, 245);
}

@media (max-width: 768px) {
  .postik {
    width: calc(50% - 20px);
  }
}


@media (max-width: 576px) {
  .postik {
    width: calc(100% - 20px);
  }
}
