<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center main">REGISTRARSE</h2>

      <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
        <div class="mb-3 mx-auto" style="max-width: 300px;">
          <label for="email" class="form-label pb-3" style="color: black; font-size: 20px;text-align: center; width: 300px;margin-top:23px;">
            Correo Electrónico:
          </label>
          <input type="email" id="email" formControlName="email" class="form-control"
            placeholder="Escribe Correo Electrónico" style="font-size: 20px;" required>
            <div *ngIf="formReg.get('email')?.hasError('invalidEmail')" class="text-danger">
              El correo electrónico debe tener un formato válido.
            </div>
        </div>

        <div class="mb-3 mx-auto" style="max-width: 300px;">
          <label for="password" class="form-label pb-3"
            style="color: black; font-size: 20px; width: 200px; display: inline-block; text-align: right;">
            Contraseña:
          </label>
          <input type="password" id="password" formControlName="password" class="form-control"
            placeholder="Escribe Contraseña" style="font-size: 20px;" required>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary custom-button mt-1">Registrarse</button>
        </div>
      </form>

      <div *ngIf="isUserAlreadyRegistered || userService.errorMessage" class="alert alert-danger">
        {{ isUserAlreadyRegistered ? 'El usuario ya está registrado. Por favor, inicia sesión.' : userService.errorMessage }}
      </div>
      <div *ngIf="userService.successMessage" class="alert alert-success">
        {{ userService.successMessage }}
      </div>
    </div>
  </div>
</div>
