.custom-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgb(230, 220, 42);
  color: black;

}
.main{

  color: rgb(6, 5, 5);
}
