html, body, app-root {
  background: linear-gradient(to bottom, rgb(107, 161, 232), rgb(185, 232, 249), rgb(114, 168, 239));
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  color: #fff;
  height: 101%;
}
