html, body, app-root {
  background: linear-gradient(to bottom, rgb(164, 199, 245), rgb(185, 232, 249), rgb(153, 191, 240));
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  color: #fff;
  height: 101%;
}
