.login-form button.btn-primary {
  font-size: 18px;
  padding: 8px 16px;
  background-color: #0a0da7e4;
  color: white;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.login-form button.btn-primary:hover {
  background-color: #0056b3;
  color: white;
}

.custom-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 8px 16px;
}

.main {
  color: brown;
  font-size: 24px;
}

.transparent-background {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
}

.login-form {
  text-align: center;
  max-width: 300px;
}

.login-form button {
  margin-right: 8px;
}

.alert {
  margin-top: 8px;
}

.form-control {
  font-size: 20px;
  width: 80%;
  align-items: center;


}
@media (max-width: 425px) {
  .login-form {
    max-width: 100%; /* Asegura que el formulario ocupe el ancho completo */
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    width: 100%; /* Asegura que el ancho del input sea del 100% */
  }
}

/* Tamaño de pantalla entre 426px y 768px */
@media (min-width: 426px) and (max-width: 768px) {
  .login-form {
    max-width: 100%; /* Asegura que el formulario ocupe el ancho completo */
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    width: 100%; /* Asegura que el ancho del input sea del 100% */
  }
}

/* Tamaño de pantalla entre 769px y 375px */
@media (min-width: 769px) and (max-width: 1024px) {
  .login-form {
    max-width: 600px; /* Tamaño original del formulario */
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    width: 80%; /* Ancho del input del 80% */
  }
}

/* Tamaño de pantalla menor o igual a 320px */
@media (max-width: 320px) {
  .login-form {
    max-width: 100%; /* Asegura que el formulario ocupe el ancho completo */
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    width: 100%; /* Asegura que el ancho del input sea del 100% */
  }

}
