.login-form button.btn-primary {
  font-size: 18px;
  padding: 8px 16px;
  background-color: #0a0da7e4;
  border: none;
  color: white;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.login-form button.btn-primary:hover {
  background-color: #0056b3; 
  color: white;
}

.custom-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 8px 16px;
}

.main {
  color: brown;
  font-size: 24px;
}

.transparent-background {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
}

.login-form {
  text-align: center;
}

.login-form button {
  margin-right: 8px;
}

.alert {
  margin-top: 8px;
}

@media (max-width: 768px) {
  .custom-button {
    font-size: 16px;
    padding: 6px 12px;
  }

  .main {
    font-size: 24px;
  }

  .transparent-background {
    padding: 10px;
  }

  .login-form button {
    margin-right: 6px;
  }

  .alert {
    margin-top: 6px;
  }
}
