.login-form button.btn-primary {
  font-size: 18px;
  padding: 8px 16px;
  background-color: #0a0da7e4;
  color: white;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.login-form button.btn-primary:hover {
  background-color: #0056b3;
  color: white;
}

.custom-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 8px 16px;
}

.main {
  color: brown;
  font-size: 24px;
}

.transparent-background {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
}

.login-form {
  text-align: center;
  max-width: 300px;
  margin:auto;
}

.login-form button {
  margin-right: 8px;
}

.alert {
  margin-top: 8px;
}

.form-control {
  font-size: 20px;
  width: 100%;
  align-items: center;



}
@media (max-width: 425px) {
  .login-form {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size:12px;

  }

  .form-control {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .login-form {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .form-control {
    width: 100%;
  }

  @media (max-width: 768px) {
    .login-form button.btn-primary {
      font-size: 15px !important;
      font-family: 'Montserrat', sans-serif;
    }
  }
  .main {
    font-size: 24px;
  }
  .custom-google-button {
    font-size: 15px !important;
    font-family: 'Montserrat', sans-serif;
  }
}


@media (max-width: 425px){
  .login-form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    width: 80%;
  }
}


@media (max-width: 320px) {
  .login-form {
    max-width:80%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    width: 100%;
  }

  .main{

    font-size:18px;
  }

}
